h2, h4 {
    margin: 0px;;
}


.cardContainer {
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* create a stacking context so we can raise the whole card on hover */
    position: relative;
    z-index: 0;

}

.cardContainer:nth-child(n+2) {
    margin-top: -5vw;
}

@media screen and (max-width: 1500px){
    .cardContainer:nth-child(n+2) {
        margin-top: -5vw;
    }
}


.cardContainer:nth-child(even) {
    transform: rotate(-2deg) translate(20px, 5px);
}

.cardContainer:nth-child(odd) {
    transform: rotate(2deg) translate(-20px, 5px);
}


.vinyl {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out, translate 0.5s ease-in-out;
    cursor: pointer;
}


.box {
    position: relative;
    width: 15vw;
    height: 15vw;
    background: var(--bg-image) center / cover no-repeat;
    z-index: 2;
    box-shadow: 0 0 16px rgba(17, 17, 17, 0.78);
    transition: 0.5s; 
}

.cardContainer:hover {
    /* raise the whole card above siblings when hovered */
    z-index: 0;
}

.vinyl:hover{ /*  moves the vinyl up */
    transform: translate(100px, -50px)  scale(1.1);
    z-index: 99;
}

.vinyl.noHover { /* freezes the selected vinyl box */
    transform: translate(100px, -50px) rotate(0deg) scale(1.1);
    z-index: 999;
}

.vinyl:hover > .coverWrapper:not(.selectedBox) {
    transform: translateX(3vw);
}

.vinyl:hover > .coverWrapper:not(.selectedBox) > .cover {
    animation-play-state: running;
}

/* .vinyl:hover ~ .data{ 
    opacity: 100%;
} */

.vinyl {
    /* z-index: 10; */
    /* translate: 300px; */
}


/* DISC */

.coverWrapper{
    position: absolute;
    left: 7vmin;
    width: 15vw;
    height: 15vw;
    z-index: 1;
    transform: translate(0, 0), scale(1);               /* explicit start state */
    transition: transform 1s ease, opacity 1s ease;          /* animate transform moving out the box when selected */
    will-change: transform;

}

/* when click the vinyl class */

.coverWrapper.selectedBox { /* wrapper of the disc moves out the box */
      transform: 
        translate(30vw, -15px) scale(1.5);
        opacity: 0;
    pointer-events: none;
}


.cover {
    position: absolute;
    left: -2vmin;
    width: 15vw;
    height: 15vw;
    border-radius: 1000px;
    /* background: linear-gradient(160deg,rgba(15, 15, 15, 1) 0%, rgba(51, 51, 51, 1) 65%, rgb(90, 90, 90) 100%); */
    background: 
        linear-gradient(200deg, rgba(14, 14, 14, 0.22), rgba(92, 92, 92, 0.41) 65.13%, rgba(191, 191, 191, 0.36)),
        radial-gradient(circle at 50% 50%, #f6b31a 5vmin, #e58c00 5.5vmin, #ffb100 5.85vmin, #fff0 calc(6vmin + 1px) 100%),
        repeating-radial-gradient(#222 0 0.1vmin, #111 calc(0.1vmin + 3px) 0.3vmin, #fff0 0 calc(0vmin + 1px));
    z-index: 1;
    box-shadow: 0px 0px 5px rgb(94, 94, 94);
    /* animation*/
    animation: spin 5s linear infinite;
    animation-play-state: paused; 
    /* transition: transform 0.5s ease-out;
     */
}

.cover::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    border-radius: 1000px;
    background: var(--bg-image) center / cover no-repeat;
}

.cover:hover{
    /* animation: spin 5s linear infinite; */
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





.cover.fixedPosition {
    /* translate: 50vw; */
    /* transform: scale(2);
    width: 500px;
    height: 500px; */
    border-radius: 500px;
    z-index: 10;
    /* animation: spin 5s linear infinite, big 0.5s linear forwards; */
    animation: spin 5s linear infinite;

}

/* .selectedBox:hover > .coverWrapper > .cover {
    translate: 0px;
}
 */



 .data {
    opacity: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

