h2, h4 {
    margin: 0px;;
}


.cardContainer {
    /* width: 400px;
    height: 400px; */
    display: flex;
    flex-direction: row;
    column-gap: 250px;
    justify-content: center;
    align-items: center;

    /* create a stacking context so we can raise the whole card on hover */
    position: relative;
    z-index: 0;

}

.cardContainer:nth-child(n+2) {
    margin-top: -140px;
}


.vinyl {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    transition: transform 0.5s ease-in-out, translate 0.5s ease-in-out;
    cursor: pointer;
}


.box {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-image) center / cover no-repeat;
    z-index: 2;
    box-shadow: 0px 0px 5px rgb(94, 94, 94); 
    transition: 0.5s; 
}

.cardContainer:hover {
    /* raise the whole card above siblings when hovered */
    z-index: 0;
}

.vinyl:hover{ /*  moves the vinyl up */
    transform: translate(30px, -50px) rotate(5deg) scale(1.1);
}

.vinyl.noHover {
    transform: translate(30px, -50px) rotate(5deg) scale(1.1);
}

.vinyl:hover > .coverWrapper:not(.selectedBox) {
    transform: translateX(100px);
}

.vinyl:hover > .coverWrapper:not(.selectedBox) > .cover {
    animation-play-state: running;
}

/* .vinyl:hover ~ .data{ 
    opacity: 100%;
} */

.vinyl {
    /* z-index: 10; */
    /* translate: 300px; */
}


/* DISC */

.coverWrapper{
    position: absolute;
    left: 20px;
    width: 300px;
    height: 300px;
    z-index: 1;
    transform: translate(0, 0), scale(1);               /* explicit start state */
    transition: transform 1s ease;          /* animate transform moving out the box when selected */
    will-change: transform;

}

.cover {
    position: absolute;
    left: 20px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: linear-gradient(160deg,rgba(15, 15, 15, 1) 0%, rgba(51, 51, 51, 1) 65%, rgb(90, 90, 90) 100%);
    z-index: 1;
    box-shadow: 0px 0px 5px rgb(94, 94, 94);
    /* animation*/
    animation: spin 5s linear infinite;
    animation-play-state: paused; 
    /* transition: transform 0.5s ease-out;
     */
}

.cover::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    border-radius: 150px;
    background: var(--bg-image) center / cover no-repeat;
}

.cover:hover{
    /* animation: spin 5s linear infinite; */
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* when click the vinyl class class */

.coverWrapper.selectedBox { /* wrapper of the disc moves out the box */
      transform: 
        translate(600px, -15px) scale(1.5);
}


.cover.fixedPosition {
    /* translate: 50vw; */
    /* transform: scale(2);
    width: 500px;
    height: 500px; */
    border-radius: 500px;
    z-index: 10;
    /* animation: spin 5s linear infinite, big 0.5s linear forwards; */
    animation: spin 5s linear infinite;

}

/* .selectedBox:hover > .coverWrapper > .cover {
    translate: 0px;
}
 */



 .data {
    opacity: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

