

.coverWrapper{
    z-index: 1;
    transform: translate(0, 0), scale(1);               /* explicit start state */
    transition: transform 1s ease;          /* animate transform moving out the box when selected */
    will-change: transform;
    position: absolute;
    top: -27px;
    right: 189px;
}

.cover {
    width: 60vmin;
    height: 60vmin;
    border-radius: 1000px;
    /* background: linear-gradient(160deg,rgba(15, 15, 15, 1) 0%, rgba(51, 51, 51, 1) 65%, rgb(90, 90, 90) 100%); */
    background: 
        linear-gradient(200deg, rgba(14, 14, 14, 0.22), rgba(92, 92, 92, 0.41) 65.13%, rgba(191, 191, 191, 0.36)),
        radial-gradient(circle at 50% 50%, #f6b31a 5vmin, #e58c00 5.5vmin, #ffb100 5.85vmin, #fff0 calc(6vmin + 1px) 100%),
        repeating-radial-gradient(#222 0 0.1vmin, #111 calc(0.1vmin + 8px) 0.3vmin, #fff0 0 calc(0.3vmin + 1px));
    z-index: 1;
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    /* animation*/
    animation: spin 5s linear infinite;
    animation-play-state: running; 
    /* transition: transform 0.5s ease-out;
     */
}

.cover::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    border-radius: 1000px;
    background: var(--bg-image) center / cover no-repeat;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.data {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}


