/* Input */ 

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: 0px -15px 30px #000000;
  z-index: 99;
  box-shadow: black;
  background-color: #9741b312;
}

.input {
  border-radius: 10px;
  border: 2px var(--primary-color) solid;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  font-size: 1.2em;
  padding-left: 0.5em;
}

.input:focus{
  border-color: var(--primary-color);
  outline: 5px solid #7a370c29;
}

button {
  width: fit-content;
  height: 54px;
  background-color: var(--primary-color);
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
  box-shadow: 0px 6px 0px rgb(94, 94, 94);
}

button:hover{
  border-color: transparent;
  background-color: var(--secondary-color);
}

button:focus{
  border-color: transparent;
  outline: 2px solid #ffffff00;
}

button:active{
  margin-top: 9px;
  box-shadow: 0px 0px 0px rgb(94, 94, 94);
}

button i {
  padding-right: 4px;
}