#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}



/* custom */

#container{
  position: relative;
  display: grid;
  grid-template: 1fr 9fr / 1fr;
  height: 100vh;
  justify-content: left;
  scrollbar-width: 0px;

  /* don't set background here any more (or keep as fallback) */
  /* background: linear-gradient(150deg,rgba(250, 242, 245, 1) 0%, rgba(252, 207, 250, 1) 45%, rgba(195, 144, 212, 1) 100%); */
  background: none;
  overflow: hidden;
}

#container::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background: var(--bg-image) top / 150% no-repeat,linear-gradient(150deg, rgba(250, 242, 245, 1) 0%, rgba(252, 207, 250, 1) 45%, rgba(195, 144, 212, 1) 100%);
  background-blend-mode: color;
  z-index: 0;
  filter: blur(80px);            /* blur only the image layer */
  transform: scale(1.5);       /* avoid blurred edges being visible */
  pointer-events: none;         /* let clicks pass through */
  opacity: 60%;
  will-change: filter, transform;
}

#container > * {
  position: relative;
  z-index: 1;
}


/* Input */ 

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: 0px -15px 30px #000000;
  z-index: 99;
  box-shadow: black;
  background-color: #9741b312;
}

.input {
  border-radius: 10px;
  border: 1px #9641b3 solid;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  font-size: 1.2em;
  padding-left: 0.5em;
}

.input:focus{
  border-color: #9641b3;
  outline: 2px solid #9741b343;
}

button {
  width: 100px;
  height: 54px;
  background-color: #ffffff;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #9641b3;
}

button:hover{
  border-color: transparent;
  outline: 1px solid #9741b3;
}

button:focus{
  border-color: transparent;
  outline: 2px solid #ffffff00;
}



.layout {
  width: 100%;
  justify-items: center;
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr; */
  overflow: auto;
  min-height: 0;
  padding-top: 130px;
  /* hide scroll bar*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* MASK */
  /* -webkit-mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 10%);
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 5%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%; */
}

.layout::-webkit-scrollbar {
  display: none;
}

/* .layout::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none; /* so it doesn’t block clicks */
 /* background: linear-gradient(to bottom, rgb(255, 0, 0), transparent);
  z-index: 1;
} */




.player {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(174, 145, 110);
}

