#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;

  --primary-color: #ac9b8d;
  --secondary-color: #9e8977;
}

h4 {
  color: rgb(107, 107, 107);
  font-weight: 500;
}

/* custom */

#container{
  position: relative;
  display: grid;
  grid-template: 1fr 9fr / 1fr;
  height: 100vh;
  justify-content: left;
  scrollbar-width: 0px;

  /* don't set background here any more (or keep as fallback) */
  /* background: linear-gradient(150deg,rgba(250, 242, 245, 1) 0%, rgba(252, 207, 250, 1) 45%, rgba(195, 144, 212, 1) 100%); */
  background: none;
  overflow: hidden;
}

#container::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background: var(--bg-image) top / 150% no-repeat,linear-gradient(150deg, rgba(204, 187, 173, 1), rgba(251, 216, 188, 1) 44.96%, rgba(158, 143, 212, 1));
  background-blend-mode: color;
  z-index: 0;
  filter: blur(80px);            /* blur only the image layer */
  transform: scale(1.5);       /* avoid blurred edges being visible */
  pointer-events: none;         /* let clicks pass through */
  opacity: 60%;
  will-change: filter, transform;
}

#container > * {
  position: relative;
  z-index: 1;
}


/* Input */ 

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: 0px -15px 30px #000000;
  z-index: 99;
  box-shadow: black;
  background-color: #9741b312;
}

.input {
  border-radius: 10px;
  border: 2px var(--primary-color) solid;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  font-size: 1.2em;
  padding-left: 0.5em;
}

.input:focus{
  border-color: var(--primary-color);
  outline: 5px solid #7a370c29;
}

button {
  width: fit-content;
  height: 54px;
  background-color: var(--primary-color);
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
  box-shadow: 0px 6px 0px rgb(94, 94, 94);
}

button:hover{
  border-color: transparent;
  background-color: var(--secondary-color);
}

button:focus{
  border-color: transparent;
  outline: 2px solid #ffffff00;
}

button:active{
  margin-top: 9px;
  box-shadow: 0px 0px 0px rgb(94, 94, 94);
}

button i {
  padding-right: 4px;
}




.layout {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100%;
  justify-content: center;
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr; */
  overflow: auto;
  min-height: 0;
  padding-top: 130px;
  /* hide scroll bar*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* MASK */
  /* -webkit-mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 10%);
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 5%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%; */
}

.layout::-webkit-scrollbar {
  display: none;
}

/* .layout::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none; /* so it doesn’t block clicks */
 /* background: linear-gradient(to bottom, rgb(255, 0, 0), transparent);
  z-index: 1;
} */




.player {
  width: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
  right: 4em;
}

.turnTable {
    display: flex;
    align-items: center;
}

.turnTable img {
  width: 43vmin;
  height: 55vmin;
  position: absolute;
  right: 2px;
  top: 6px;
  z-index: 99;
}

.empty {
    position: absolute;
    top: -27px;
    right: 189px;
    width: 60vmin;
    height: 60vmin;
    border-radius: 3000px;
    /* background: linear-gradient(160deg,rgba(15, 15, 15, 1) 0%, rgba(51, 51, 51, 1) 65%, rgb(90, 90, 90) 100%); */
    background: 
        linear-gradient(200deg, rgba(34, 41, 55, 0.88), rgba(72, 88, 95, 0.76) 65.13%, rgba(91, 97, 98, 0.84));
    z-index: 1;
    box-shadow: 0px 0px 30px rgb(94, 94, 94), inset 0px 0px 126px rgb(37, 50, 60);
}